@font-face {
    font-family: "Avara-Bold";
    src: url("fonts/Avara-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "MonTrappist-Black";
    src: url("fonts/MonTrappist-Black.woff2") format("woff2");
}

body {
    background-color: rgb(144, 163, 237);
    font-family: "Avara-Bold", serif;
    font-size: 15px; 

}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


.grid-container{
  display: grid;
  padding: 15px 15px 15px 15px;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
". . name name name name . ."
". . bio bio bio bio . ."
"break-1 break-1 break-1 break-1 break-1 break-1 break-1 break-1"
"text-1 image-1 image-1 image-4 image-4 text-7 text-7 text-7"
". image-1 image-1 image-4 image-4 image-5 image-5 ."
"text-2 text-2 text-2 image-4 image-4 image-5 image-5 ."
"break-2 break-2 break-2 break-2 break-2 break-2 break-2 break-2"
"text-3 image-7 image-7 image-3 image-3 image-6 image-6 ."
". image-7 image-7 image-3 image-3 image-6 image-6 ."
". image-7 image-7 image-3 image-3 image-6 image-6 ."
". . . text-4 text-4 . . ."
"break-3 break-3 break-3 break-3 break-3 break-3 break-3 break-3"
"image-2 image-2 image-8 image-8 image-9 text-5 . ." 
"image-2 image-2 . . . . . ."
"image-2 image-2 text-6 text-6 . . . ."
"break-4 break-4 break-4 break-4 break-4 break-4 break-4 break-4"
} 


.name {
    grid-area: name;
}

.name h1 {
    color: rgb(209, 163, 163);
    font-family: "Avara-Bold", serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center; 
    margin: 0;
}

.name h1:hover {
    color: rgb(164, 28, 4);
    font-weight: bold;
    font-style: italic;
}

.bio {
    grid-area: bio;
}

.bio p {
    color: rgb(209, 163, 163);
    font-family: "MonTrappist-Black";
    font-size: 25px;
    line-height: 1;
    font-style: bold;
    text-align: center;

}

.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
   
}

.image-4 {
    grid-area: image-4;
}

.image-5 {
    grid-area: image-5;
}

.image-5 p {
    margin: 0;
    margin-bottom: -20px;
}

.image-6 {
    grid-area: image-6;
}

.image-7 {
    grid-area: image-7;
}

.image-8 {
    grid-area: image-8;
}

.image-9 {
    grid-area: image-9;
}

.text-1 {
    grid-area: text-1;
}

.text-1 p {
    color:rgb(209, 163, 163);
    font-size: 10rem;
    font-family: "MonTrappist-Black";
    margin: 0;
    margin-top: -30px;
    text-align: right;
}

.text-2 {
    grid-area: text-2;
    align-self: end;
}

.text-2 p {
    font-size: 5rem;    
    margin: 0;
    font-family: "MonTrappist-Black";
    color: rgb(209, 163, 163);
    margin-bottom: -20px;
    text-align: right;
    
}

.text-3 {
    grid-area: text-3;
}

.text-3 p {
    color:rgb(209, 163, 163);
    font-size: 8rem;
    font-family: "MonTrappist-Black";
    margin: 0;
    text-align: right;
    margin-top: -20px;
}

.text-4 {
    grid-area: text-4;
    align-self: end;
}


.text-4 p {
    color:rgb(209, 163, 163);
    font-size: 8rem;
    font-family: "MonTrappist-Black";
    margin: 0;
    margin-bottom: -40px;
    text-align: right;
}

.text-5 {
    grid-area: text-5;
}

.text-5 p {
    color:rgb(209, 163, 163);
    font-size: 8rem;
    font-family: "MonTrappist-Black";
    margin: 0;
    margin-top: -30px;
}

.text-6 {
    grid-area: text-6;
}


.text-6 p {
    color:rgb(209, 163, 163);
    font-size: 8rem;
    font-family: "MonTrappist-Black";
    margin: 0;
    margin-bottom: -30px;
    
}

.text-7 {
    grid-area: text-7;
}

.text-7 p {
    color:rgb(209, 163, 163);
    font-size: 5rem;
    font-family: "MonTrappist-Black";
    margin: 0;
    margin-top: -20px;
    
    
}




.v-line-1 {
    grid-area: v-line-1;
}

/* .v-line-1 {
    grid-area: v-line-1;
    grid-area: image-4;
    align-self: top;
    border-top: solid;
    border-top: 2px solid;
    justify-self: vertical;
    width: 100%;
    rotate: 90deg;

} */

.break-1 {
    grid-area: break-1;
    margin-bottom: 200px;
}

.break-2 {
    grid-area: break-2;
     margin-bottom: 200px;
}

.break-3 {
    grid-area: break-3;
     margin-bottom: 200px;
}

.break-4 {
    grid-area: break-4;
     margin-bottom: 200px;
}
