@font-face {
    font-family: "Avara-Bold";
    src: url("fonts/Avara-Bold.woff2") format("woff2");
}

body {
    background-color: rgb(144, 163, 237);
    font-family: "Avara-Bold", serif;
    font-size: 15px; 
}

img {
    max-width: 100%;
    height: auto;
}


.grid-container{
  display: grid;
  padding: 15px 15px 15px 15px;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1f 1fr 1fr;
  grid-template-areas:
". . name . ."
". . bio . ."
"text-1 . . . ."
"image-4 . image-1 . image-5"
"text-2 . . . ."
"image-7 . image-3 . image-6"
"text-3 . . . ."
"image-2 . image-8 . image-9" 
} 


.name {
    grid-area: name;
}

.name h1 {
    color: rgb(235, 172, 214);
    font-family: "Avara-Bold", serif;
    font-size: 130px;
    font-weight: bold;
    text-align: center; 
    margin: 0;
}

.name h1:hover {
    color: rgb(164, 28, 4);
    font-weight: bold;
    font-style: italic;
}

.bio {
    grid-area: bio;
}

.bio p {
    color: rgb(235, 172, 214);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    line-height: 1;
    font-style: bold;
    text-align: center;

}

.image-1 {
    grid-area: image-1;
    width: 50%;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
    width: 70%;
}

.image-4 {
    grid-area: image-4;
    width: 120%;
}

.image-5 {
    grid-area: image-5;
}

.image-6 {
    grid-area: image-6;
}

.image-7 {
    grid-area: image-7;
    width:
}

.image-8 {
    grid-area: image-8;
}

.image-9 {
    grid-area: image-9;
}

.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}


