@font-face {
    font-family: "Avara-Bold";
    src: url("fonts/Avara-Bold.woff2") format("woff2");
}

body {
    background-color: rgb(144, 163, 237);
    font-family: "Avara-Bold", serif;
    font-size: 15px; 
}

img {
    max-width: 100%;
    height: auto;
}


.grid-container{
  display: grid;
  padding: 15px 15px 15px 15px;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1f 1fr 1fr 1fr;
  grid-template-areas:
". . name name . ."
". . bio bio . ."
". image-1 image-1 image-2 image-3 ."
". text-1 text-1 text-2 text-3 ."
} 


.name {
    grid-area: name;
    position: relative;
    top: 150px;
    z-index: 1;
}

.name h1 {
    color: rgb(235, 172, 214);
    font-family: "Avara-Bold", serif;
    font-size: 80px;
    font-weight: bold;
    text-align: center; 
    margin: 0;
}

.name h1:hover {
    color: rgb(164, 28, 4);
    font-weight: bold;
    font-style: italic;
    transition: color 2s ease;
}

.bio {
    grid-area: bio;
}

.bio p {
    color: rgb(235, 172, 214);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    line-height: 1;
    font-style: bold;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;

}

.bio p:hover {
    opacity: 0.2;
}

.image-1 {
    grid-area: image-1;
    position: relative; 
}

.image-1 img {
    transition: opacity 0.3s ease;
}

.image-1 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-1:hover .b {
    opacity: 1;
}

.image-1:hover .a {
    opacity: 0;
}

.image-1 img:hover {
    transform: scale(1.5)
}

.image-2 {
    grid-area: image-2;
    position: relative;
}

.titel  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.image-2 img {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3 ease;
}

.image-2 img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.image-3 {
    grid-area: image-3;
}

.image-3 img {
    transition: transform 0.5s ease;
}

.image-3 img:hover {
    transform: rotate(70deg);
}

.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}

